@charset "utf-8";
/* CSS Document */

#hero {
	text-align: center;
	align-content: center;
	margin: 0;
	padding: 0;
	width: 100%;
}
#hero figure {
	margin: 0;
	padding: 0;
}
#hero figure img {
	padding: 0;
	margin: 0;
	width: 85%;
	align-self: center;
}
#wrapper {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
#nm{
    position:absolute;
    bottom:0%;
    left:3%;
    color:#000000;
}
#nm1{
    position:absolute;
    bottom:6%;
    left:0%;
    color:#000000;
}
#ap{
    position:absolute;
    bottom:0%;
    left:25%;
    color:#000000;
}
#ap1{
    position:absolute;
    bottom:6%;
    left:0%;
    color:#000000;
}
#sa{
    position:absolute;
    bottom:0%;
    left:58%;
    color:#000000;
}
#sa1{
    position:absolute;
    bottom:6%;
    right:0%;
    color:#000000;
}
#mb{
    position:absolute;
    bottom:0%;
    left:85%;
    color:#000000;
}
#mb1{
    position:absolute;
    bottom:6%;
    right:0%;
    color:#000000;
}
#as2 {
	margin-left: 8.2%;
	margin-top: 19.1%;
}
.vals {
	position: absolute;
	border: .6px solid;
	padding: .2em;
	font-size: x-small;
}
.vals:hover {
	border: 2px outset;
}