@charset "utf-8";
@import 'https://fonts.googleapis.com/css?family=Raleway';
/* CSS Document */
body {
  position: absolute;
}
#hero {
  text-align: center;
  align-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
}
#hero figure {
  margin: 0;
  padding: 0;
}
#hero figure img {
  padding: 0;
  margin: 0;
  width: 85%;
  align-self: center;
}
#wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
/*names of the creators*/
#nm{
    position:fixed;
    bottom:0%;
    left:3%;
    color:#000000;
}
#nm1{
    position:fixed;
    bottom:6%;
    left:0%;
    color:#000000;
}
#ap{
    position:fixed;
    bottom:0%;
    left:25%;
    color:#000000;
}
#ap1{
    position:fixed;
    bottom:6%;
    left:0%;
    color:#000000;
}
#sa{
    position:fixed;
    bottom:0%;
    left:58%;
    color:#000000;
}
#sa1{
    position:fixed;
    bottom:6%;
    right:0%;
    color:#000000;
}
#mb{
    position:fixed;
    bottom:0%;
    left:85%;
    color:#000000;
}
#mb1{
    position:fixed;
    bottom:6%;
    right:0%;
    color:#000000;
}

.beautydrop {
    position: relative;
    display: inline-block;
}

.beautydropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffad;
    width: 90%;
  padding: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  border-radius: 10px;
  font-family:'Comic sans ms'
}

.beautydropdown-content a {
    color: black;
    padding: 12px 12px;
    text-decoration: none;
    display: inline-block;
}

.beautydropdown-content a:hover {background-color: #f1f1f1}

.beautydrop:hover .beautydropdown-content {
    display: block;
}
.input-w label {
    display: inline-block;
    vertical-align: middle;    
}

.input-w input {
    display: inline-block;
    vertical-align: middle;
}


#adjust {
  float:right;
}


#entire
{
  position: fixed;
  top:30%;
  left:35%;
    z-index:500;
    width:30%;
  padding: 1em 1em;
  text-align: left;
  border-radius: 10px;
  font-family:'Comic sans ms'
  font-size: 60px;
}
#content
{
    
    width:145%;
  padding: 1em 1em;
  text-align: left;
  border-radius: 10px;
  font-family:'Comic sans ms';
  font-size:16.5px;
}

#entire a
{
    color: 000000;
    text-decoration: none;
    
    margin: 0px 50px;
    padding: 5px 2px;
    position: relative;
    z-index: 0;
    cursor: pointer;
    font-size:20px;
}
#content a
{
    color: 000000;
    text-decoration: none;
    
    margin: 20px 90px;
    
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.red
{
    background: #ffff9c;
}
/* Top and Bottom borders go out */
#entire.topBotomBordersOut a:before, #entire.topBotomBordersOut a:after
{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #FF9933;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

#entire.topBotomBordersOut a:before
{
    top: 0px;
    transform: translateY(10px);
}

#entire.topBotomBordersOut a:after
{
    bottom: 0px;
    transform: translateY(-10px);
}

#entire.topBotomBordersOut a:hover:before, #entire.topBotomBordersOut a:hover:after
{
    opacity: 1;
    transform: translateY(0px);
}
#position{
  position: absolute;
  top: 50%;
  left:300%;
}
/*substations*/
#AcademicSubstation2 {
  margin-left: 8.2%;
  margin-top: 19.1%;
}
#MainInfra {
  margin-left: 76.2%;
  margin-top: 19.1%;
}
#AcademicSubstation1 {
  margin-left: 8.2%;
  margin-top: 36.1%;
}
#HostelSubstation {
  margin-left: 84.7%;
  margin-top: 36.1%;
}
#WaterTreatmentPlant {
  margin-left: 35.2%;
  margin-top: 40.1%;
}
.blabla{
    
    float: left;
    clear: left;
    width: 11px;
    text-align: left;
}
.vals {
  position: absolute;
  border: .6px solid;
  padding: .3em;
  font-size: x-small;
  background-color: 000000;
}



body{
  background-color:#E9E9E9;/*#292B2C*/;
}


#powers2 {
    position: absolute;
    top: 10px;
    left: 200px;
}
.powers2c {
    position: absolute;
    margin-top: 0;
    top: 9.5px;
    left: 230px;
}
#voltages2 {
    position: absolute;
    top: 30px;
    left: 200px;
}
.voltages2c {
    position: absolute;
    margin-top: 0;
    top: 29.5px;
    left: 230px;
}
#currents2 {
    position: absolute;
    top: 50px;
    left: 200px;
}
.currents2c {
    position: absolute;
    margin-top: 0;
    top: 49.5px;
    left: 230px;
}
#frequencys2 {
    position: absolute;
    top: 70px;
    left: 200px;
}
.frequencys2c {
    position: absolute;
    margin-top: 0;
    top: 69.5px;
    left: 230px;
}
.okinput{
  position:absolute;
  top:50%;
  left:80%;
}